td = sensor.id
td = sensor.name
td = sensor.sampling_cycle
td = link_to "ログ", sensor_sensor_logs_path(sensor), { class: "button" }
td = link_to "編集", sensor_path(sensor), { class: "button" }
td = link_to "削除", sensor_path(sensor), { class: "button" }
